/* Navigation bar section */

/* Basic CSS for the navigation bar */

/* Mobile specific tweaks */

#homebutton {
	float: left;
	margin-right: 10px;

}

#website-container2 {
    width: 100%; /* Set the width of your container */
    height: 100%; /* Set the height of your container */
    border: 1px solid black; /* Optional: adds a border to the container */
        margin-top: -150px;

    margin-right: 100px;
  }


#website-container {
    width: 100%; /* Set the width of your container */
    height: 100%; /* Set the height of your container */
    border: 1px solid black; /* Optional: adds a border to the container */
    margin-top: 65px;
    margin-right: 100px;
  }

iframe {
    width: 100%; /* Makes the iframe fill the width of its container */
    height: 900px; /* Makes the iframe fill the height of its container */
    border: none; /* Optional: removes the default iframe border */
  }

input[type="text"] {
  color: #ffffff; /* Using a HEX code (red) */
}


#bookSearch { /* Search goes to bottom row on tiny phones */
width: 30%; order: 4;
border-radius: 10px; 
height: 50px;
margin-left: 0px;
font-display: white;
background-color: #000000;
background: #000000;

} 

nav {
background-color: #1ca329; /* Dark background */
overflow: hidden; /* Clear floats */
border-radius: 10px;
margin-top: 0px;
margin-bottom: 3%;
max-height: 54.9px;
}

nav ul {
list-style-type: none; /* Remove bullet points */
margin: 0;
padding: 0;
background-color: #000000;
}

nav ul li {
float: left; /* Display list items horizontally */
font-weight: bold;
font-size: 20px;
}

nav ul li a {
display: block; /* Make links fill the list item space */
color: white; /* White text */
text-align: center;
padding: 14px 16px; /* Spacing inside links */
text-decoration: none; /* Remove underlines */
}

/* Change color on hover */
nav ul li a:hover {
background-color: #000000;
color: white;
border-radius: 10px;
}

/* Navigation bar section */


.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr; 
gap: 5px;
padding: 1px;
margin-top: 75px;

}


/*Header letter size */
header {
font-size: 48px;


}

img {
width: 100%;
height: 98%;
border-radius: 10px;

}

body{
background-color: #000;
height: 100%;

}

.hidden{
display: none;
}

/*Notice*/
p {
font-size: 24.42px;
color: white;
width: 100%;
}

button{

background-color: #000;
color: white;
border-radius: 10px;
float: right;
height: 54.9px;
font-weight: bold;
}

.fixed{

position: fixed;
top: 0;
bottom: 0px;
left: 0;
right: 0;
max-width: 100%;
max-height: 1%;
}